// Colors
// -- Primary
$clr-primary: hsl(0, 100%, 68%);
// -- Neutral
$clr-neutral: hsl(230, 29%, 20%);
$clr-neutral2: hsl(230, 11%, 40%);
$clr-neutral3: hsl(231, 7%, 65%);
$clr-neutral4: hsl(207, 33%, 95%);

$tablet: 719px;
$desktop: 1023px;
